li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

header {
  background-color: #24252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 1rem;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.6);
}
